.fadein-container {
    margin-top: 50px;
    position: fixed;
    background: white;
    z-index: 100;
    display: none;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-in-fadein-container {
    display: none;
}

.activate {
    display: block !important;
}

.input-form {
    padding: 10px 15px;
    margin: 0 auto;
}

#taskTitle::placeholder {
    font-size: 18px;
    color: rgb(204, 204, 204);
}

.form-control {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-color: rgb(238, 238, 238);
}

.gray-text {
    color: rgb(204, 204, 204);
}

form .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0;
}

.right-addon .glyphicon {
    right: 0;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.add-task-input-icon {
    width: 25px;
    height: 25px;
    align-self: center;
    background-color: white;
}

.input-group-prepend,
.input-group-text {
    background-color: white;
    color: white;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-color: rgb(238, 238, 238);
}

#description {
    color: rgb(204, 204, 204);
    text-align: left;
}

.fadein-form-label {
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 6px;
    color: rgb(204, 204, 204);
    border-bottom: rgb(238, 238, 238) 1px solid;
}

#priority {
    width: 68%;
    padding-left: 10px;
}

#status {
    width: 70%;
    padding-left: 17px;
}

#priorityDropdownButton,
#status > .dropdown-toggle {
    width: 100%;
    background-color: rgb(204, 204, 204);
    color: white;
}

#priority > .dropdown-toggle::after,
#priority > div > .dropdown-toggle::after,
#status > .dropdown-toggle::after,
#status > div > .dropdown-toggle::after {
    content: none;
}

#priorityDropdownMenu {
    width: 97%;
    justify-content: center;
    padding: 0;
}

#statusDropdownMenu {
    justify-content: center;
    padding: 0;
    width: 94%;
}

#status > div > .dropdown-toggle,
#priority > div > .dropdown-toggle {
    width: 90%;
    margin: 10px 0 10px 10px;
}

@media (max-width: 458px) {
    #priority, #status {
        width: 90%;
        padding-top: 5px;
        border-top: rgb(238, 238, 238) 1px solid;
    }

    .fadein-form-label,
    .input-group-prepend,
    .input-group-text {
        border-bottom: 0;
    }
}

@media (min-width: 458px) {
    #priority,
    #status {
        border-bottom: rgb(238, 238, 238) 1px solid;
    }
}

@media (min-width: 1200px) and (max-width: 1520px) {
    .fadein-container, .description-container {
        width: 400px;
        max-width: 400px;
    }
}

.description-container {
    margin-top: 50px;
    position: fixed;
    background: white;
    z-index: 150;
    display: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#descriptionBoxNavigation {
    background-color: rgb(248, 248, 248);
    border-bottom: rgb(238, 238, 238) 1px solid;
    height: 39px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
}

#leftArrowIcon {
    height: 15px;
    width: 15px;
}

#descriptionBoxNavigation > h3 {
    font-size: 18px;
    color: rgb(204, 204, 204);
    font-weight: 400;
    padding-top: 7px;
    padding-right: 35px;
    margin: 0 auto;
}

#descriptionBoxNavigation > button {
    background-color: rgb(248, 248, 248);
    padding-top: 5px;
    border: 0;
    float: left;
    border-top-left-radius: 20px;
}

#descriptionBoxNavigation > button:active,
#descriptionBoxNavigation > button:hover,
#descriptionBoxNavigation > button:focus {
    outline: none;
    box-shadow: none;
}

#addTaskFooter {
    background-color: rgb(248, 248, 246);
    border-bottom: rgb(238, 238, 236) 1px solid;
    height: 60px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 15px;
    align-items: center;
}

#descriptionTextArea {
    width: 100%;
    height: calc(100% - 39px);
    appearance: none;
    resize: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 20px;
}

#createTaskButton,
#edit-task-button {
    background-color: rgb(147, 185, 242);
}

#createTaskButton:focus,
#createTaskButton:active,
#createTaskButton:hover,
#delete-task-button:focus,
#delete-task-button:active,
#delete-task-button:hover,
#edit-task-button:focus,
#edit-task-button:active,
#edit-task-button:hover {
    border-bottom-color: rgb(147, 185, 242);
}

#addTaskFooter > div > .row {
    padding-top: 4px;
}

.form-submit-button {
    margin-bottom: 0;
    padding-top: 8px;
}

#delete-task-button {
    background-color: rgb(230, 90, 63);
    margin-left: 20px;
}

#edit-task-button {
    margin-left: 15px;
}

.modal-body p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.modal-header {

}

.modal-footer {
    justify-content: space-between;
}

#accept-delete-button {
    background-color: rgb(230, 90, 63);
}

.option-orange {
    background-color: rgb(253, 171, 61) !important;
}

.option-green {
    background-color: rgb(0, 200, 117) !important;
}

.option-red {
    background-color: rgb(226, 68, 92) !important;
}

.option-pink {
    background-color: rgb(255, 90, 196) !important;
}

.option-blue {
    background-color: rgb(87, 155, 252) !important;
}

.option-purple {
    background-color: rgb(120, 75, 209) !important;
}
